{% extends 'base.html' %}

{% load bootstrap %}

{% block title %}
    {% if entry.pk %}
        Editar Timesheet
    {% else %}
        Novo Timesheet
    {% endif %}
{% endblock %}
    
{% block content %}
    <div class="row align-items-center">
        <div class="col-auto h3">
            {% if entry.pk %}
                Editar Timesheet
            {% else %}
                Novo Timesheet
            {% endif %}
            </div>
    </div>

    <form method="POST">
        {% csrf_token %} 
        {{ form|bootstrap }}

        <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
        <a href="{% url 'list_view' %}">
            <button type="button" class="btn btn-danger btn-sm">Cancelar</button>
        </a>
    </form>

{% endblock %}
